<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Christopher Moore, ecologist </title>
  <link rel="stylesheet" href="/css/styles.css" />
  
</head>
<body>

  <div id="main">
 
<!--	<header>
      <h1> Christopher Moore, ecologist </h1>
    <header>-->
 
    <nav role="navigation">
      <ul>
        <li><a href="/contact">contact</a></li>
        <li><a href="/quotes">quotes</a></li>
        <li><a href="/news">news</a></li>
        <li><a href="/teaching">teaching</a></li>
        <li><a href="/publications">publications</a></li>
        <li><a href="/research">research</a></li>
        <li><a href="/">home</a></li>
      </ul>
    </nav>
 
    {{ content }}
 
<!--    <footer>
      <p>@copy; John Doe Photography 2011 | All Rights Reserved. </p>
    </footer> -->
 
  </div>
</body>
</html>