<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Christopher Moore, ecologist </title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="shortcut icon" href="http://www.case.edu/favicon.ico">
  <link href="feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts (atom)" />
</head>
<body>

  <div id="main">
 
{% include google_analytics.html %}

    <nav role="navigation">
      <ul>
        <li><a href="/Contact">Contact</a></li>
        <li><a href="/Quotes">Quotes</a></li>
        <li><a href="/Blog">Blog</a></li>
        <li><a href="/Teaching">Teaching</a></li>
        <li><a href="/Publications">Publications</a></li>
        <li><a href="/Research">Research</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
 
    {{ content }}
 
<!-- 
   <footer>
      <p>Footer stuff, if I want, later</p>
    </footer>
 -->
 
  </div>

</body>
</html>
